body{
    background:skyblue;
}

.crassifier{
    width:1500;
    margin:0 auto;
    padding:50px;
}
 
 
 h1{
    font-size:200;
 }
 
 .sentense{
    font-size:50;
    margin-top:20px 0px;
 }

 .kinds{
     font-size:50;
     margin-bottom:20px;
 }
 
 .select{
    width:300px;  
    
    font-size:30px;
 }
 
 .upload{
    width:120px;

    font-size:30px;
 }