body{
    background:skyblue;
}

.crassifier{
    width:1500;
    margin:0 auto;
    padding:50px;
    background-image:url(https://www.bing.com/images/search?view=detailV2&ccid=EcGdbGML&id=67E8B99C31F6A50406EB9CEF9C7BD144D06EA83F&thid=OIP.EcGdbGMLFZyPtIrPpkJJGAHaFC&mediaurl=https%3a%2f%2fwww.pakutaso.com%2fshared%2fimg%2fthumb%2f140726199461_TP_V.jpg&exph=1089&expw=1600&q=%e9%9d%92%e7%a9%ba&simid=608027050768860265&selectedIndex=25);
    background-size: cover;
 }
 
 
 h1{
    font-size:200;
 }
 
 .sentense{
    font-size:50;
    margin:20px 0px;
 }

 .kinds{
     font-size:50;
     margin-bottom:20px;
 }
 
 .select{
    width:300px;
     
    margin:30px 0px;
    font-size:30px;
 }
 
 .upload{
    width:100px;
    margin:30px;
    font-size:30px;
 }